<h1 class="display-4"></h1>
<a href="/clients/add" class="btn btn-success pull-left">Create New</a><br/><br/>
<table class="table table-striped">
    <!-- <caption>Cilent Record</caption> -->
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% clients.forEach(function(client){ %>
            <tr>
                <td><%= client.id %></td>
                <td><%= client.first_name %></td>
                <td><%= client.last_name %></td>
                <td><%= client.email %></td>
                <td><a href="/clients/edit/<%= client.id %>" class="btn btn-primary">Edit</a> <a href="/clients/delete/<%= client.id %>" class="btn btn-warning"> Delete</a></td>
            </tr>
            <% }) %>
            
        
    </tbody>
</table>